@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

h5 {
  @apply text-[40px] leading-none font-bold;
}

h6 {
  @apply text-[32px] leading-8 font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  @apply select-none;
}

.tasks-enter-active,
.tasks-leave-active {
  transition: opacity 250ms ease;
}

.tasks-enter-from,
.tasks-leave-to {
  opacity: 0;
}