@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

h5 {
  @apply text-[40px] leading-none font-bold;
}

h6 {
  @apply text-[32px] leading-8 font-bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  @apply select-none;
}

.task-move,
.task-enter-active,
.task-leave-active {
  transition: all 0.5s ease;
}
.task-enter-from,
.task-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.task-leave-active {
  position: absolute;
}
