h5 {
  @apply text-[38px] leading-none font-bold text-[var(--color-text)];
}

h6 {
  @apply text-[30px] leading-8 font-bold text-[var(--color-text)];
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label {
  @apply select-none;
}

hr {
  @apply h-px border-none bg-[var(--color-border)] md:block;
}
